body {
    /*width: 100%;*/
    font-family: Verdana;
    background-image: url("../img/rana-sawalha-364253-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.container {
    width: 100%;
    margin: 0 auto;
}
.heading {
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 54px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    display: inline-block;
    padding-left: 80px;
    padding-top: 20px;
}
.logo-text  {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.logo-text:hover {
    color: #3cb878;
}
.icon {
    display: inline-block;
    background-image: url("../img/spritesheet (1).png");
    width: 28px;
    height: 20px;
}
.icon1 {
    background-position: -34px -5px;
}
.icon2 {
    background-position: -43px -34px;
    margin-right: 28px;
    margin-left: 28px;
}
.icon3 {
    background-position: -81px -35px;
}
.icon1:hover {
    background-position: -5px -5px;
}
.icon2:hover {
    background-position: -5px -34px;
}
.icon3:hover {
    background-position:  -81px -5px;
}
.navbar {
    float: right;
    padding-top: 20px;

}
.navbar-menu {
    float: left;
    margin-right: 30px;
}
.navbar-text {
    float: right;
    position: relative;
    padding-top: 3px;

}
.text {
    display: inline-block;
    font-size: 14px;
    color: white;

}
.text1 {
    float: left;
    margin-right: 5px;
    position: relative;
    padding-top: 1px;

}
.text1:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 1px;
    height: 19px;
    background-color: #000000;
    opacity: 0.41;
    margin-right: 24px;

}
.text2 {
     margin-right: 5px;
}
.link {
    display: inline-block;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}
.link1 {

}
.link2 {
    float: right;
    padding-right: 75px;
    padding-top: 2px;


}
.link:hover {
    text-decoration: underline;
}
section {
    position: relative;
    width: 100%;
    height: calc(100vh - 54px);
}
.form {
    position: absolute;
    background: white;
    width: 444px;
    border-radius: 8px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#rectangle {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #3cb878;
}
.form-p1 {
    color: #434343;
    font-size: 20px;
    display: inline-block;
    margin-left: 42px;
}
.form-p2 {
    color: #3cb878;
    font-size: 14px;
    float: right;
    margin-right: 60px;
}
.form-p2:hover {
    text-decoration: underline;
}
.top {
    margin-top: 29px;
}
a {
    color: white;
}
i {
    color: white;
}
.button1 a {
    margin-top: 15px;
    margin-left: 62px;
}
.button1-item {
    position: relative;
    clear: both;
    float: left;
    width: 155px;
    height: 46px;
    border-radius: 3px;
    background-color: #305db8;
    text-decoration: none;

}
.button1-item:hover {
    background-color: #264b96;
    transition-duration: 1s;
}
.fa-facebook-f {
    width: 10px;
    height: 20px;
    color: white;
    margin-left: 20px;
    margin-top: 13px;
    size: 18px;

}
.fa-facebook-f:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #2752a7;
    margin-left: 17px;
    position: absolute;
}
.button1-text {
    display: inline-block;
    float: right;
    margin-right: 16px;
    margin-top: 13px;
    font-size: 16px;
}
.button2 a {
    margin-top: 15px;
    margin-right: 65px;
}
.button2-item {
    position: relative;
    float: right;
    width: 155px;
    height: 46px;
    border-radius: 3px;
    background-color: #df4a32;
    text-decoration: none;

}
.button2-item:hover {
    background-color: #c3412c;
    transition-duration: 1s;
}
.button2-text {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 14px;
}
.fa-google-plus-g {
    width: 25px;
    height: 16px;
    font-size: 16px;
    margin-left: 13px;
    margin-top: 15px;
}
.fa-google-plus-g:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #c9402a;
    margin-left: 10px;
    position: absolute;
}

.line {
    clear: both;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}
.line span {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    padding: 0 20px;
}
.line span:before .line span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid red;
}
.line span:before {
    right: 100%;
}
.line span:after {
    left: 100%;
}

.text-line{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #848484;
}

.text-line:before{
     content: "";
     display: inline-block;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 133px;
     height: 1px;
     background-color: #eaeaea;

 }

.text-line:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 133px;
    height: 1px;
    background-color: #eaeaea ;
}

.field-item {
    width: 300px;
    height: 46px;
    margin-left: 60px;
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #bebebe;
    /*font-size: 14px;*/
    padding-left: 17px;

}
.field-item1 {
    width: 300px;
    height: 46px;
    margin-left: 60px;
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #bebebe;
    padding-left: 17px;

}
::placeholder {
    color: #bebebe;

}
.field-item1::placeholder {
    color:  #434343;
    font-size: 14px;

}
.field-item:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: 1px solid #f7f7f7;
    outline: none;
    transition-duration: 1s;
}
.field-item1:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: 1px solid #f7f7f7;
    outline: none;
    transition-duration: 1s;
}
.terms {
    color: #3cb878;
}
.checkbox {
    margin-left: 60px;
    margin-top: 22px;
}
#foot-item {
    position: absolute;
    left: -9999px;
}
#foot-item + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}
#foot-item + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.1em; height: 1.1em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
#foot-item + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em; left: .22em;
    font-size: 1.2em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}
#foot-item + label:after {
    opacity: 0;
    transform: scale(0);
}
#foot-item:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

button {
    color: white;
    font-size: 16px;
    margin-left: 60px;
    margin-top: 28px;
    margin-bottom: 32px;
    width: 322px;
    height: 46px;
    background-color:#3cb878;
    border-radius: 4px;
}






