@font-face {
    font-family: "Myriad pro";
    src: url('../Font/8143.otf');

    src: url('../Font/8143.otf?iefix') format('eot'),

    url('../Font/8143.otf') format('woff'),

    url('../Font/8143.otf') format('truetype'),

    url('../Font/8143.otf#webfont') format('svg');

    font-weight: normal;

    font-style: normal;}

.logo {
    font-family: "Myriad pro", SansSerif;
    color: black;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
}
.header-nav {
    margin: 45px 0;
}
.header-menu {
    background-color: #35444f;
    max-height: 69px;
    text-align: center;
}
.header-menu_selected {
    display: inline-block;
    padding: 20px 30px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.header-menu_selected_item {
   font-family: "Myriad pro", SansSerif;
   color: white;
   font-size: 24px;
   text-decoration: none;
}

.header-menu_selected:hover {
   background-color: #222f3a;
   border-right: 1px solid #818181;
   border-left: 1px solid #818181;
}
.center {
   margin-top: 50px;
}
.row {
    display: inline-block;
    margin: 0 auto;
}
.image {
    width: 320px;
    height: 381px;
    margin-right: 300px;
    margin-top: -130px;
    transform: translate(50%,50%);

}
.image:hover {
    transform:translate(50%,50%) scale(1.2);
}
.picture {
    width: 65%;
    height: 529px;
    text-align: center;
    border: 1px solid black;
    float: right;
}
.content {

   display: inline-block;
   width: 65%;
   margin-left: 4%;
   float: right;
  margin-bottom: 50px;
}
.main_center {
   display: inline-block;
}
.aside-nav {
   display: inline-block;
   vertical-align: top;
   color: #35444f;
   width: 30%;
}
.aside-menu {
   text-align: left;
   border: 1px solid black;
}
.aside-selected {
   height: 81px;
   padding-left: 20px;
}
.aside-selected_item {
   font-family: "Myriad pro", SansSerif;
   color: #485863;
   font-size: 27px;
   text-decoration: none;
   line-height: 90px;
}
.aside-selected:hover {
   background-color: rgb(220,220,220);
   color: #000000;
   padding-left: 69px;

}
.main-footer {
   clear: both;
   position: relative;
   margin-bottom: 50px;
   background-color: #b5b9bc;
}
.footer-menu {
   width: 70%;
   display: inline-block;
}
.footer-selected {
   display: inline-block;
   margin-left: 20px;
}
.footer-selected_item {
   font-family: "Myriad pro", SansSerif;
    color: #0c1927;
   font-size: 27px;
   line-height: 70px;
   text-decoration: none;
}
.footer-selected_item:hover {
   color: #3181a6;
   text-decoration: none;
   border-bottom: 1px solid #3181a6;

}
.text{
   font-family: "Myriad pro", SansSerif;
   font-size: 18px;
   width: 85%;
   line-height: 20px;
    margin: 50px;
}
.text_content {
   margin-top: 20px;
}
.copyright {
   display: inline-block;
   width: 25%;
   text-align: right;
   font-size: 27px;
}
