
.container {
    font-family: Roboto, sans-serif;
    width: 1280px;
    margin: 0 auto;
}
.navbar {
    padding: 41px;
    text-align: center;
}
.navbar-link  {
    margin-right: 40px;
    color: #16a085;
    font-family: Roboto, SansSerif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-link:last-child {

}
img {
    width: 1280px;
    height: 790px;
}
.site-image {
    background-image: url("../img/DSC_4644.JPG");
    -webkit-background-size: cover;
    background-size: cover;

}
.heading {
    font-family: Roboto;
    letter-spacing: 4px;
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 17px;
    text-align: center;
    padding-top: 56px;

}
.block {
    width: 100%;
    height: 650px;
    background-color: #f5f6f7;
}
p {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
}
.text1 {
    padding-top: 41px;
    padding-right: 110px;
    padding-left: 110px;
}
.text2 {
    padding-top: 41px;
    padding-right: 110px;
    padding-left: 110px;

}
.btn {

    border-radius: 3px;
    background-color: #16a085;
    text-align: center;
    width: 192px;
    height: 51px;
    margin-left: 550px;
    margin-top: 41px;

}
.btn-text {
    font-family: Gothamround;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 3px;


}
 .btn a {
     display: inline-block;
   margin-bottom: 20px;
     padding-top: 15px;
}

.reserved {
    text-align: right;
    margin-right: 150px;
    font-size: 16px;
    font-weight: 900;
    color: #373737;
    letter-spacing: 3px;
}


