 .container {
     font-family: 'Arimo', sans-serif;
     width: 1192px;
     margin-left: 20px;
 }
  table {
    border: 23px solid #374765;
      width: 100%;
  }
  td {
      box-shadow: inset 9px 0 5px -10px black;
  }
  tr:nth-child(n+3) {
      background-color: #f2f2f2;
  }

 tr:nth-child(n+4):nth-child(2n) {
     background-color: #e3e3e3;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }

  .head-item1 {
      width: 310px;
      height: 156px;
      color: #484848;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      vertical-align: middle;

  }
  .head-item-text {
      color: #484848;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;


  }
  .head-item2 {
      width: 277px;
      height: 70px;
      background-color: #89c331;
      color: white;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
      vertical-align: middle;
  }
  .head-item3 {
      width: 277px;
      height: 70px;
      background-color: #f04a56;
      color: white;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
      vertical-align: middle;


  }
  .head-item4 {
      /*width: 277px;*/
      height: 70px;
      background-color: #20807c;
      color: white;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
      vertical-align: middle;
  }
  td {
      width: 310px;
      height: 69px;
      color: #484848;
      font-size: 16px;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      line-height: 28px;
  }

  .icon {
      color:  #848484;
      font-size: 24px;
      margin-right: 12px;
  }
  .price {
      position: relative;

  }
  .price-item1 {
      color: #484848;
      font-size: 60px;
      font-weight: 700;
      display: block;
      position: absolute;
      top: -18px;
      left: 33px;
  }
  .price-item2 {
      color: #484848;
      font-size: 24px;
      font-weight: 700;
      display: block;
      position: absolute;
      top: -30px;
      left: 135px;
  }
  .price-item3 {
      color: #484848;
      font-size: 18px;
      display: block;
      position: absolute;
      top: -5px;
      left: 136px;
  }
   .link1 {
       border-radius: 5px;
       padding: 14px 44px;
       text-decoration: none;
       color: #ffffff;
       background-color: #484848;
       box-shadow: 0 7px #404040;;
       font-size: 16px;
       font-weight: 700;
   }
   .link2 {
       border-radius: 5px;
       background-color: #89c331;
       box-shadow: 0 7px #79b027;
       font-size: 16px;
       font-weight: 700;
       color: #ffffff;
       text-decoration: none;
       padding: 14px 58px;
   }
   .link3 {
       border-radius: 5px;
       background-color: #f04a56;
       box-shadow: 0 7px  #df3a46;
       font-size: 16px;
       font-weight: 700;
       color: #ffffff;
       text-decoration: none;
       padding: 14px 58px;
   }
   .link4 {
       border-radius: 5px;
       background-color: #20807c;
       box-shadow: 0 7px #16736f;
       font-size: 16px;
       font-weight: 700;
       color: #ffffff;
       text-decoration: none;
       padding: 14px 58px;

   }
   .foot-item {
       padding: 15px;
   }