
.price {
    outline: none;
}

.input-border {
    border: 3px solid green;
}

.currPrice {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    padding: 5px;
}

.d-none {
    display: none;
}

.Error {
    border: 1px solid red;
}

.valueInput {
    color: green;
}

.buttonStyle {
    border-radius: 50%;
    margin-left: 20px;

}