@import url(//db.onlinewebfonts.com/c/1ce2d5cd34ac27b0c31dbf6cc3c1f272?family=Myriad+Hebrew);

.parallax {

    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
/*.header1 }
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}*/
.background_container {
    overflow: hidden;
    height: 800px;
}
.shadow {
    background-color:  rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;

}

.parallax_back {
    transform: translateZ(-2px) scale(3);

    height: 100%;
    background-image: url("../img/html_css_homework_homework8_optional_img_bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.parallax_base {
    transform: translateZ(0);
}
.header_container_content {
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}
.header_nav_menu_container {
    width: 100%;
    display: flex;
    height: 110px;
    justify-content: space-around ;
    align-items: center;
}
.nav_menu {
    display: flex;
    height: 110px;
    align-items: center;

}
.logo{
    font-family: "Open Sans";
    font-size: 36px;
    color: rgba(66, 79, 87, 255);
    margin-left: 200px;


}
.logo_name {
    font-family: "Open Sans";
    color: rgba(20, 175, 202, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 180px;
}
.item1 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(20, 175, 202, 255);
    text-decoration: none;
}
.item2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.item3 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.item4 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.item5 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.header_container_text_item {
    font-family: Myriad Hebrew;
    color: white;
    font-size: 52px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin: 173px 210px;
}
.banner_container {
    padding-top: 50px;
    padding-bottom: 100px;
    clip-path: polygon(100% 0, 100% 79%, 51% 100%, 0 81%, 0 0, 51% 15%);
    background-color: white;

}
.banner_container_main_header_item {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bolder;
    color: rgba(20, 175, 202, 255);
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}
.banner_container_second_header_item {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 32px;
}
.banner_text_item {
    font-family: Roboto;
    font-size: 16px;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 42px;
    line-height: 30px;
}
.parallax_layer1 {
    position: absolute;
    top: 1500px;
    left: 0;
    bottom: 0;
    right: 0;

}

.parallax_back1 {
    transform: translateZ(-2px) scale(3);

    height: 600px;
    background-image: url("../img/html_css_homework_homework8_optional_img_bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_base1 {
    transform: translateZ(0);
    position: relative;
}

.companies_header_item {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    padding-top: 152px;
    text-align: center;
}
.companies_header_text_item {
    font-family: Myriad Hebrew;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 49px;
}
.companies_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding-left: 170px;
}
.companies_list_image_adobe {
    display: flex;
    align-items: center;
}
.stuff_container {
    /*height: 700px;*/
    /*clip-path: polygon(100% 0, 100% 79%, 51% 100%, 0 81%, 0 0, 51% 15%);*/
    clip-path: polygon(100% 0%, 100% 80%, 52% 100%, 0 78%, 0 0, 51% 22%);
    padding-top: 100px;
    background-color: white;
}
.stuff_container_header {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    margin-top: 100px;

}
.stuff_container_second_header {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 42px;


}
.stuff_container_photo {
    display: flex;
    justify-content: space-around;
    margin-top: 47px;

}
.image_item1 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 206px;

}
.image_item_text1 {
    font-family: Roboto;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    width: 279px;
    height: 99px;
    align-self: center;
    margin-top: 27px;
    text-align: center;
}
.image_item2 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 206px;
}
.image_item_text2 {
    font-family: Roboto;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    width: 279px;
    height: 99px;
    align-self: center;
    margin-top: 27px;
    text-align: center;
    margin-bottom: 124px;
}
.image_item3 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 206px;
}
.image_item_text3 {
    font-family: Roboto;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    width: 279px;
    height: 99px;
    align-self: center;
    margin-top: 27px;
    text-align: center;
}
.parallax_layer2 {
    position: absolute;
    top: 3000px;
    left: 0;
    bottom: 0;
    right: 0;

}

.parallax_back2 {
    transform: translateZ(-2px) scale(3);
    background-image: url("../img/html_css_homework_homework8_optional_img_bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /*clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 87%, 50% 100%, 0 87%);*/

}

.parallax_base2 {
    transform: translateZ(0);
}
.testimonials_container {
    /*height: 577px;*/

    display: flex;
    flex-direction: column;
    align-items: center;

}
.testimonials_container_header {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    padding-top: 150px;
}
.testimonials_container_second_header {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 49px;
}
.testimonials_container_text {
    font-family: 'Open Sans italic';
    font-size: 16px;
    color: rgba(211, 204, 204, 255);
    width: 877px;
    height: 45px;
    text-align:  center;
}
.testimonials_container_text_author {
    font-family: "Open Sans italic";
    font-size: 18px;
    color: white;
    align-self: flex-end;
    padding-right: 300px;
}
.footer_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    clip-path: polygon(51% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.footer_container_header {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    padding-top: 150px;
}
.footer_container_second_header {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 20px;
}
.footer_container_text {
    font-family: Roboto;
    color: rgba(66, 79, 87, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 55px;
    line-height: 50px;
}

.footer_container_copyright_item {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(61, 60, 60, 255);
    align-self: center;
    text-align: center;
    margin-top: 113px;
    margin-bottom: 104px;

}
.footer_container_company_name {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(61, 60, 60, 255);
    font-weight: bold;


}


