body {
    font-family: 'Montserrat', sans-serif;
}

.creative {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
}

.nav_bar_container {
    background-color: rgba(73, 71, 63, 0.6);

}
.nav_bar {
    display: flex;
    align-items: center;

}
.nav_bar_items_container {
    display: flex;

}
.logo {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}
.h {
    position: absolute;
    left: 17px;
}
.nav_bar_items {
    margin-right: 17px;
    position: relative;
}
.nav_item:hover {
    color: rgba(24, 207, 171, 255);
}
.logo_text_item {
    font-size: 35px;
    color: white;
    margin-left: 8px;
}
.logo_text_span {
    font-size: 35px;
    color: rgba(24, 207, 171, 255);
    font-weight: 900;
    margin-right: 292px;
}
.nav_item {
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 50px 0;
}
.nav_bar_items:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid rgba(24, 207, 171, 255);
    bottom: -1px;
}
.search_link {
    display: inline-block;
    color: white;
    width: 22px;
    height: 22px;
    padding: 50px 0;
}
.search_link:hover{
    color: rgba(24, 207, 171, 255)
}
.header_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 244px;
}
.header_text_item1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.header_text_item1_span {
    color:  rgba(24, 207, 171, 255);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.header_text_item2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}
.header_text_item3 {
    color: rgba(212, 212, 212, 255);
    font-size: 30px;
}
.heading_button {
    display: flex;
    justify-content: center;
    margin-top: 142px;
    padding-bottom: 244px;
}
.heading_button_item1 {
    padding: 26px 32px;
    background-color: rgba(24, 207, 171, 255);
    margin-right: 28px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0  -5px  white;
}
.heading_button_item2 {
    padding: 26px 26px;
    background-color: #00cbf6;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0  -5px  white;
}
.tech_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Montserrat', sans-serif;
}
.theme_option {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #1c2a33;
    color: rgba(24, 207, 171, 255);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0  -7px rgba(24, 207, 171, 255);
}
.theme_option_logo {
    padding-top: 88px;
}
.theme_option_item {
}
.customizable {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color:  rgba(24, 207, 171, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0  -7px white;
}
.customizable_logo {
    padding-top: 99px;
}
.support {
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #1c2a33 ;
    color: rgba(24, 207, 171, 255);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0  -7px rgba(24, 207, 171, 255);
}
.support_logo {
    padding-top: 88px;
}
.responsive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color:  rgba(24, 207, 171, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0  -7px white;
}
.responsive_logo {
    padding-top:98px ;
}

       /*MAIN*/

.service {
    font-family: 'Montserrat', sans-serif;
}
.our_service_heading {
    display: block;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    padding-top: 82px;
    position: relative;
    margin-bottom: 112px;
}
.our_service_heading::before {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 140px;
    background-color: rgba(24, 207, 171, 255) ;
}
.our_service_heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 47%;
    top: 144px;
    background-color:  rgba(24, 207, 171, 255);
}
.our_service_container{
    width: 1160px;
    margin: 0 auto;
}
.our_service_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.our_service_menu_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 192px;
    height: 73px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(113, 113, 113, 255);
    background-color: #f8fcfe;
    outline: 1px solid #eeeeef;
    cursor: pointer;
    position: relative;
}

.our_service_menu_item.active {
    color: white;
    background-color: #18cfab;
    border-left-color: #18cfab;
    border-bottom-color: #18cfab;
    border-top-color: #18cfab;
}
.our_service_menu_item.active::after {
    content: '';
    width: 0;
    height: 0;
    bottom: -13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid #18cfab;
    position: absolute;
    display: block;
}
.our_service_content.active{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.our_service_content{
    display: none;
}
.our_service_img_item {
    width: 194px;
    height: 139px;
}
.text {
    font-size: 14px;
    padding-left: 20px;
    line-height: 24px;
    padding-bottom: 50px;
}
.our_service_menu_text {
    display: none;
    font-size: 14px;
}
.selected_text {
    font-size: 14px;
    display: block;
    position: absolute;
}
.purchase_container {
    background-image: url("../img/Sections background/section-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow {
    background-color:  rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.purchase_heading_first {
    font-size: 40px;
    font-weight: bold;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 128px;
    padding-bottom: 35px;
}
.purchase_heading_second {
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    padding-bottom: 76px;
}
.purchase_button_item {
    padding: 26px 32px;
    background-color: rgba(24, 207, 171, 255);
    margin-right: 28px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0  -5px  white;
}
.purchase_button {
    margin-bottom: 100px;
}


/*Section Our Amazing Work     */



.our_amazing_work {
    font-family: 'Montserrat', sans-serif;
}
.our_amazing_work_heading{
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    padding-top: 82px;
    position: relative;
    margin-bottom: 112px;
}
.our_amazing_work_heading::before {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 140px;
    background-color: rgba(24, 207, 171, 255) ;
}
.our_amazing_work_heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 47%;
    top: 144px;
    background-color:  rgba(24, 207, 171, 255);
}
.our_amazing_work_container {
    width: 1160px;
    margin: 0 auto;
}
.our_amazing_work_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_amazing_work_menu_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(113, 113, 113, 255);
    font-size: 16px;
    background-color: #f8fcfe;
    outline: 1px solid #ebebeb;
    padding: 24px;
    cursor: pointer;
    position: relative;
}
.item_hover_icons {
    padding-top: 24px;

}
.our_amazing_work_content_img {
    width: 287px;
    height: 209px;
}
.our_amazing_work_menu_item:hover {
    color: rgba(24, 207, 171, 255) ;
}
 .selected::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    border-top: 2px solid rgba(24, 207, 171, 255);
    top: 0;
}
.our_amazing_work_menu_item:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    border-top: 2px solid rgba(24, 207, 171, 255);
    top: 0;
}
.selected {
    color: rgba(24, 207, 171, 255);
}
.our_amazing_work_content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 71px;
}
.our_amazing_work_content_item {
    position: relative;
    width: 25%;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.our_amazing_work_content_item_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 46px;
    border-top: 3px solid #18cfab;
    position: absolute;
    bottom: 211px;
    background-color: white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}
.our_amazing_work_content_item:hover .our_amazing_work_content_item_hover {
    bottom: 0;
    opacity: 1;
}
.our_amazing_work_content_item_hover_link {
    display: inline-block;
    box-sizing: border-box;
    width: 41px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    font-size: 14px;
    color: #18cfab;
    margin: 0 0 34px;

}
.our_amazing_work_content_item_hover_search {
    display: inline-block;
    box-sizing: border-box;
    width: 41px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    margin: 0 0 34px;
    background-color: #18cfab;
}
.our_amazing_work_content_item_hover_search i{
    padding: 12px;
}
.our_amazing_work_content_item_hover_link i{
    padding: 12px;
}
.our_amazing_work_content_item_hover_first_header {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
    text-align: center;
}
.our_amazing_work_content_item_hover_second_header {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 78px;
}
.our_amazing_work_button {
    display: flex;
    justify-content: center;
}
.our_amazing_work_button_load {
    width: 166px;
    height: 61px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #18cfab;
    border-radius: 3px;
    margin-top: 75px;
    margin-bottom: 75px;
    cursor: pointer;
}
.cross {
    color: white;
    width: 16px;
    height: 16px;
    padding: 22px 16px 22px 22px;
}

  /*section breaking news */
.breaking_news {
    font-family: 'Montserrat', sans-serif;
}
.breaking_news_container {
    width: 1160px;
    margin: 0 auto;
}
.breaking_news_heading {
    color:#4E4E4E;
    font-size:36px;
   text-align:center;
    position: relative;
    margin-bottom: 29px;
    margin-top: 63px;
}
.breaking_news_heading::before {
    content: "";
    display: block;
    position: absolute;
    width: 77px;
    height: 2px;
    left: 46%;
    top: 65px;
    background-color: rgba(24, 207, 171, 255) ;
}
.breaking_news_heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 72px;
    height: 2px;
    left: 47%;
    top: 68px;
    background-color:  rgba(24, 207, 171, 255);
}
.breaking_news_img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
}
.breaking_news_img_item {
    position: relative;
    margin-bottom: 45px;
    transition: 0.3s;
    text-decoration: none;
}
.calendar {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    position: absolute;
    right: 0;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
.breaking_news_img_item:hover .calendar {
    background-color: #18cfab;
}
.breaking_news_img_item:hover .news_item_header {
    color: #18cfab;
}
.news-item-name-container {
    border: 1px solid #f6f6f6;
    background-color: #ffffff;

}
.news_item_header {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 12px;
}
.news_item_comments {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 11px;
    padding-left: 12px;
}

/*section slider*/

.slider {
    background-image: url("../img/Sections background/section-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.slider_container {
    width: 1160px;
    margin: 0 auto;
}
.slider_heading {
    color: white;
    font-size:36px;
    text-align: center;
    padding-top: 74px;
    position: relative;
}
.slider_heading:before {
    content: "";
    display: block;
    position: absolute;
    width: 77px;
    height: 2px;
    left: 46%;
    top: 145px;
    background-color: rgba(24, 207, 171, 255) ;
}
.slider_heading:after {
    content: "";
    display: block;
    position: absolute;
    width: 77px;
    height: 2px;
    left: 47%;
    top: 148px;
    background-color:  rgba(24, 207, 171, 255);
}
.slider_quotations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.quotations {
    width: 45px;
    height: 31px;
    margin-top: 78px;
}
.member_text {
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 30px;
    width: 1097px;
    margin: 0 auto 43px;
}

.member_name {
    color:  #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.member_position {
    color:  #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.slider_image_container {

    text-align: -webkit-center;
}

.thumbnails_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 482px;
    margin-top: 54px;
    padding-bottom: 52px;
}

.thumbnails {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.member1_img {
    background: url("../img/slider photos/Layer 12@1X.png") no-repeat;
}
.member2_img {
    background: url('../img/slider photos/Layer 13@1X.png') no-repeat;
}
.member3_img {
    background: url('../img/slider photos/Layer 14@1X.png') no-repeat;
}
.member4_img {
    background: url('../img/slider photos/face1.jpg') no-repeat;
}

.center_image {
    width: 143px;
    height: 143px;
    border: 3px solid #18cfab;
    border-radius: 50%;
    background-size: contain;
    box-shadow: 0 0 0 11px rgba(24,207,171,0.27);
    margin: 0 auto;

}

.thumbnail_img {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 60px;
    height: 60px;
    box-sizing: content-box;
    border-radius: 50%;
    background-size: 105%;
    background-position: center;
    border: 2px solid #134b45;
    box-shadow: 0 0 0 5px rgba(24,207,171,0.27);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.thumbnail_img.active {
    bottom: 10px;
    border-color: #18cfab;
}

.thumbnail_img:hover {
    border-color: #18cfab;
}

.slider_arrow {
    display: inline-block;
    padding: 10px 12px;
    font-size: 18px;
    color: #bbbbbb;
    border: 2px solid #bbbbbb;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.slider_arrow:hover {
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
}

.footer_container {
    color: #AEAEAE;
    height: 109px;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.footer_text_item_colored {
    color: #18CFAB;
}







