.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-to-show-not {
    opacity: 0;
}
.timeout {
top: 500px;
left: 0;
position: relative;
}