header {
    /*width: 100vw;*/
    height: 100vh;
    overflow: hidden;
    background-color: black;

}

.content {
    background-color: black;
    width: 60%;
    margin: 0 auto;
    height: 100%;
    transform: perspective(500px)rotateX(70grad);
    position: relative;



}
.text_block {

    background-color: black;
    top:400px;
    position: absolute;
    animation:30s 1 linear motion  ;





}
.text {
    color: gold;
    font-size: 35px;
    text-align: center;



}
@keyframes motion {
    0% {  top:400px;
    }
    100% {top:-200px;
    }
}
