@import url(//db.onlinewebfonts.com/c/1ce2d5cd34ac27b0c31dbf6cc3c1f272?family=Myriad+Hebrew);

body {
    font-family: 'Roboto','Open Sans';
}
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    position: relative;
}

.background1 {
    height: 800px;
    background-image: url("../img/html_css_homework_homework8_optional_img_bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.shadow1 {
    background-color:  rgba(0, 0, 0, 0.8);
    height: 100%;
    padding-top: 20px;
}

.header_container_content {
    display: flex;
    width: 100%;
    background-color: white;
}
.header_nav_menu_container {
    width: 100%;
    display: flex;
    height: 110px;
    justify-content: space-around ;
    align-items: center;

}
.nav_menu {
    display: flex;
    height: 110px;
    align-items: center;
}
.logo{
    font-size: 36px;
    color: rgba(66, 79, 87, 255);
    margin-left: 200px;

}
.logo_name {
    font-family: Roboto;
    color: rgba(20, 175, 202, 255);
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 180px;
}
.item1 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(20, 175, 202, 255);
    text-decoration: none;
}
.item2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.item3 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.item4 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.item5 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    text-decoration: none;

}
.header_container_text_item {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 173px 210px;
}
.banner_container {
    height: 400px;
    padding-top: 50px;
    padding-bottom: 100px;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 87%, 50% 100%, 0 87%);
    background-color: white;

}
.banner_container_main_header_item {
    font-family: "Roboto";
    font-size: 60px;
    font-weight: bolder;
    color: rgba(20, 175, 202, 255);
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}
.banner_container_second_header_item {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 32px;
}
.banner_text_item {
    font-family: Roboto;
    font-size: 16px;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 42px;
    line-height: 30px;
}

.background2 {
    height: 1650px;
    background-image: url("../img/html_css_homework_homework8_optional_img_bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.shadow2 {
    background-color:  rgba(0, 0, 0, 0.8);

}
.companies_list_container {
    padding-top: 150px;
}
.companies_header_item {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    margin-top: 302px;
    text-align: center;
}
.companies_header_text_item {
    font-family: Myriad Hebrew;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 49px;
}
.companies_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding-left: 170px;
    row-gap: 153px;

}
.companies_list_image_adobe {
    display: flex;
    align-items: center;
    background-color: white;
    height: 96px;
    width: 222px;
}
.stuff_container {
    background-color: white;
    height: 700px;
    padding-top: 50px;
    padding-bottom: 100px;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 87%, 50% 100%, 0 87%);

}
.stuff_container_header {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    margin-top: 100px;

}
.stuff_container_second_header {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 42px;


}
.stuff_container_photo {
    display: flex;
    justify-content: space-around;
    margin-top: 47px;

}
.image_item1 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 206px;

}
.image_item_text1 {
    font-family: Roboto;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    width: 279px;
    height: 99px;
    align-self: center;
    margin-top: 27px;
    text-align: center;
}
.image_item2 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 206px;
}
.image_item_text2 {
    font-family: Roboto;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    width: 279px;
    height: 99px;
    align-self: center;
    margin-top: 27px;
    text-align: center;
    margin-bottom: 124px;
}
.image_item3 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 206px;
}
.image_item_text3 {
    font-family: Roboto;
    font-size: 15px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    width: 279px;
    height: 99px;
    align-self: center;
    margin-top: 27px;
    text-align: center;
}
.background3 {
    background-image: url("../img/html_css_homework_homework8_optional_img_bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.shadow3 {
    background-color:  rgba(0, 0, 0, 0.8);
}
.testimonials_container {
    height: 500px;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 87%, 50% 100%, 0 87%);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.testimonials_container_header {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    padding-top: 250px;
}
.testimonials_container_second_header {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 49px;
}
.testimonials_container_text {
    font-family: "OpenSans italic";
    font-size: 16px;
    color: rgba(211, 204, 204, 255);
    width: 877px;
    height: 45px;
    text-align:  center;
}
.testimonials_container_text_author {
    font-family: "OpenSans italic";
    font-weight: bold;
    font-size: 18px;
    color: white;
    align-self: flex-end;
    padding-right: 300px;
}
.footer_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    clip-path: polygon(51% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.footer_container_header {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(20, 175, 202, 255);
    padding-top: 250px;
}
.footer_container_second_header {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    margin-top: 20px;
}
.footer_container_text {
    font-family: Roboto;
    color: rgba(66, 79, 87, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 55px;
    line-height: 50px;
}

.footer_container_copyright_item {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(61, 60, 60, 255);
    align-self: center;
    text-align: center;
    margin-top: 113px;
    margin-bottom: 104px;

}
.footer_container_company_name {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(61, 60, 60, 255);
    font-weight: bold;


}
