body {font-family: Verdana;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 1076px;
    margin: 0 auto;
}
.heading {
    margin-top: 49px;
    margin-bottom: 45px;
}
.heading:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
}
.logotype {
    display: inline-block;
}
.logo-text{
    display: inline-block;
}
.logo-text p {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}
 .logo-img:hover {
    background-image: url("../images/logo (4).png");

}
.logo-text:hover  p {
    color: #f26522;
}
 .logo  {
    font-size: 29px;
}
.contacts {
    float: right;
    color: white;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}
.photo {
    width: 307px;
    height: 200px;
    margin-top: 2px;
    margin-left: 2px;
}
.link-menu {
    display: inline-block;
    width: 307px;
}
.link-menu_center {
    margin: 48px 71px 0 71px;
}
.img {
    width: 311px;
    background-image: linear-gradient(to bottom, #ffffff,  #000000);
    position: relative;
    overflow: hidden;
}
.orange-link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.text-price {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px;
}
.price {
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.text-img {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 55px;
}
.text-img a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;

}
.flag {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -63px;
    background-color: #f26522;
    width: 100%;
    height: 63px;
    transition: all 800ms;
}
.link-menu:hover .flag {
    bottom: 0;
    transition: all 800ms;
}
.orange-link-text {
    font-size: 14px;
    margin-left: 126px;
}
.orange-link-text::after  {
    content: "\00A0\00A0\00A0\00A0\003E";
}
 p .price {
    font-size: 20px;
 }
 .price:after {
     content: ".";
     display: block;
     clear: both;
     height: 0;
 }

.text-img a:hover {
    color: #f26522;
}
.footer {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 20px;

}